.post{
    width: 250px;
    margin: 20px;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #D7D7D7;
    box-sizing: border-box;
    box-shadow:  3px 5px 3px #ccc;
    transition: .5s;
}
.post:hover{
    box-shadow:  0px 0px 0px #ccc;
    cursor: pointer;
}
