.mainInput{
    margin: auto;
    padding: 40px;
    width: 500px;
    height: 60%;
    box-sizing: border-box;
    box-shadow:  3px 5px 3px #ccc;
}
input, textarea{
    width: 300px;
    text-align: center;
    border: 1px solid #A8A8A8;
    border-radius: 7px;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
input{
    height: 40px;
}
textarea{
    height: 80px;
    margin-bottom: 40px;
    transition: .3s;
}

textarea:focus{
    height: 150px;
}

input:focus,textarea:focus{
    text-align: left;
    outline: none;
}

input:focus::placeholder,textarea:focus::placeholder{
    color: transparent;
}
button{
    font-size: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #5A80E8;
    border-radius: 5px;
    margin-top: 10px;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid black;
    box-sizing: border-box;
    box-shadow:  3px 5px 3px #ccc;
    transition: .3s;
}

button:hover{
    cursor: pointer;
}
button:focus{
    box-shadow: 0px 0px 0px #ccc;
    outline: none;
}
.title{
    margin-bottom: 40px;
}